@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: beige;
}
/*********** Header *************/
h1 {
    display: flex;
    font-family: 'Raleway', Open sans, sans-serif;
    column-gap: 10px;
}
.logo {
    border-radius: 20px;
}
div> p {
    position: relative;
    left: 15px;
}
/******** Navigation Bar ********/
.navigation {
    width: 70%;
    justify-content: space-between;
    display: inline-flex;
    
}
.nav-bar {
    list-style: none;
    display: flex;
    column-gap: 35%; 
    margin: 0;   
    padding: 0;
}
.nav-bar a {
    text-decoration: none;
    transition-duration: 3s;
    font-size: 1rem; 
    color: black;
    padding: 5px 20px;     
}
.nav-bar a:hover {
    color: darkmagenta;
    cursor: pointer;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/************ Image ***************/
.yoga-image {
    background-image: url('../images/pexels-cottonbro-4056535.jpg');
    background-repeat: no-repeat;
    height: 1000px;
    background-position: center;
    background-size: cover;
}

.yoga-quote {
    display: inline-block;
    width: 20%;
    height: 200px;
    color: #004225;
    padding: 5px;
    position: relative;
    left: 60%;
    font-size: 1rem;   
}

/************** Sign Up page **************/
#signup {
    position: relative;
    left: 50px;
}
form {
    width: 900px;
    height: 700px;
    padding: 25px;
    border-radius: 0 50px;
    margin: 15px;
    left: 25%;
    background-image: url('../images/pexels-ketut-subiyanto-4473612.jpg');
    background-position: center;
    background-size: cover;
    font-size: 1rem;  
}

#times {
    background-image: url('../images/pexels-elly-fairytale-3823086.jpg');
    background-position: center;
    background-size: cover;
    width: 800px;
    height: 800px;
    border-radius: 50px 0;
}

.yoga-times {
    position: relative;
    left: 30%;
    font-size: 1rem;

}

table {
    width: 50%;
    position: relative;
    left: 50px;
}
tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
tr, th, td {
    text-align: left;
}
th, td {
    border-bottom: 1px solid black;
    padding: 8px;
    box-shadow: 0px 10px 10px #00000017;
}
.column {
    width: 150px;
    vertical-align: bottom;
}

.inline {
    display: inline-block;

}
.signup-quote {
    display: inline-block;
    width: 20%;
    height: 200px;
    color: #004225;
    padding: 5px;
    position: relative;
    left: 30%;
    top: 10%;
    font-size: 1rem;
}

/************Shop Page ***************/
.yoga-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-auto-flow: dense;
}
.grid-item:hover {
    box-shadow: 0 10px 10px #201d1d;
    cursor: pointer; 
}
   


/********** Footer ***********/
footer {
    text-align: center;
    padding: 1em;
    margin: 30px;
    
    
}
footer>span {
    color:black;
    
}
footer>a {
    text-decoration: none;
    padding: 0 15px;
    font-size: 1rem; 
}

/* Small devices (mobile phones, 425px and up) 
@media only screen and (min-width: 425px) {
    img {
        column-count: 1;
        column-gap: 0;
    }
}
/* Medium devices (tablets, 1008px and up) 
@media screen and (min-width: 1008px) {
    /* Header 
    h1 {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }
    .logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    div>p {
        display: flex;
        flex-wrap: wrap;
    } */

    

