@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk to override browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    
}

/* Header */
header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
    transition: 0.3s;
    position: relative;
    background-color: rgb(187, 187, 147);

}

header a {
    text-decoration: none;
    color: #201d1d;
}

h1 {
    font-family: inherit;
    text-transform: uppercase;
    color: #383535;
    font-size: 1rem;
}

#logo {
    border-radius: 15px;
    margin: 10px;
    width: 20%;
}

.slogan {
    visibility: hidden;
}

/******** Navigation Bar ********/
.nav-bar {
    letter-spacing: 4px;
    list-style-type: none;
}

.nav-bar>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #201d1d;
}

/* Navigation toggle */
.navigation {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #201d1d;
    display: none;
    top: 100%;
}

#toggle-navigation:checked~.navigation {
    display: block;
}

#toggle-navigation {
    display: none;
}

.toggle-navigation-label {
    font-size: 2rem;
    padding-right: 20px;
}

/** Main Content **/
/* Hero Image */

.home-image {
    background-image: url('../images/pexels-cottonbro-4056535.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 20%;


}

.welcome-message {
    width: 80%;
    height: 60%;
    color: #000000;
    padding: 5%;
    left: 60%;
    font-size: 1rem;
    background-color: rgba(239, 239, 240, 0.801);
    border-radius: 7%;
    display: flex;
    top: 4%;
    line-height: 1;

}

/************Shop Page ***************/
.yoga-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-auto-flow: dense;
}

.grid-item:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h2 {
    padding: 25px;
}

/************** Sign Up page **************/

form {
    width: 100%;
    height: 60vh;
    padding: 1rem;
    border-radius: 0 50px;
    margin: 1rem;
    left: 10%;
    background-image: url('../images/pexels-ketut-subiyanto-4473612.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1rem;
    color: #ffffff;
    font-size: large;
    font-weight: bold;

}

/* Yoga Appointment Bookings */
#times {
    background-image: url('../images/pexels-elly-fairytale-3823086.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    border-radius: 50px 0;
    left: 50%;
    margin: 1rem;
}

.yoga-times {
    position: relative;
    left: 30%;
    font-size: 1.2rem;
    font-weight: bold;

}

table {
    width: 100%;
    left: 5%;
    border: 1px solid #000000;
}

.table-header {
    font-weight: normal;
    font-size: 1rem;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

tr,
th,
td {
    text-align: left;
}

th,
td {
    padding: 2%;
    box-shadow: 0px 10px 10px #00000017;
}
#times a {
    background-color: rgba(121, 121, 129, 0.5);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    transition-duration: 0.3s;
    display: block;
    width: fit-content;
    margin: auto;
}
#times a:hover {
    cursor: pointer;
    background-color: #201d1d;
}

.signup-quote {
    width: 45%;
    height: 45%;
    background-color: rgba(121, 121, 129, 0.5);
    border-radius: 15px;
    color: #000000;
    padding: 1rem;
    position: relative;
    left: 20%;
    top: 5%;
    font-size: 1rem;
}


/********** Footer ***********/
footer {
    text-align: center;
    padding: 1em;
    margin: 30px;
}

footer>span {
    color: black;

}

footer>a {
    text-decoration: none;
    padding: 0 15px;
    font-size: 1rem;
}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        display: flex;
        width: 100%;
    }

    h1 {
        display: flex;
        position: relative;
        width: 100%;
        padding-right: 1rem;
        position: absolute;
        top: 20%;
        left: 18%;
    }

    .logo {
        width: 30%;

    }

    .slogan {
        display: flex;
        visibility: visible;
        position: absolute;
        top: 50%;
        left: 18%;
        font-size: 1.5rem;

    }

    .toggle-navigation-label {
        display: none;
    }

    .navigation {
        display: block;
        position: absolute;
        width: fit-content;
        background: none;
        box-shadow: none;
        top: 50%;
        left: 65%;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        gap: 7%;
        font-size: 1.2rem;
    }

    .welcome-message {
        width: 80%;
        padding-top: 25px;
        bottom: 50%;
        font-size: 1.5rem;
        height: 60%;
        color: rgb(29, 29, 27);

    }

    form {
        width: 100%;
        font-size: 1.5rem;
        color: #f7f2f2;

    }

    form>input {
        width: 300px;
        height: 25px;

    }

    .signup-quote {
        font-size: 1.5rem;
        height: 30%;
    }

    .yoga-times {
        font-size: 2rem;

    }

    table {
        font-size: 1.5rem;

    }

    .table-header {
        font-size: 1.5rem;
    }

    footer {
        font-size: 1.2rem;
    }

    footer>a {
        font-size: 1.5rem;
    }
}

/* Large devices (laptops, 992px and up) */
@media screen and (min-width: 992px) {
    .navigation {
        left: 70%;
        justify-content: space-between;
        gap: 20%;
    }

    .welcome-message {
        width: 80%;
        padding-top: 25px;
        bottom: 50%;
        font-size: 1.5rem;
        height: 70%;
        color: rgb(29, 29, 27);
        position: relative;
    }

    .home-image {
        width: 100%;
    }
}

/* Larger devices (desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .welcome-message {
        font-size: 2.5rem;
        width: 50%;
        height: 50vh;
        position: relative;
        padding: 10px;
        margin: 5px;
        top: 0;
    }
    .home-image {
        width: 100%;
    }
}