@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk to override browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;

}

/* Header */
/* Home Page */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
    transition: 0.3s;
    position: relative;
    background-color: rgb(187, 187, 147);
}

header a {
    text-decoration: none;
    color: #201d1d;
}

h1 {
    font-family: inherit;
    text-transform: uppercase;
    color: #383535;
    font-size: 1rem;
}

#logo {
    border-radius: 15px;
    margin: 10px;
    width: 15%;
}

.slogan {
    visibility: hidden;
}

/* Navigation Bar */
.nav-bar {
    letter-spacing: 4px;
    list-style-type: none;
}

.nav-bar>li {
    margin-bottom: 1em;
}
.nav-bar>li:hover {
    font-weight: bold;
    cursor: pointer;
}

.active {
    border-bottom: 1px solid #201d1d;
}

/* Navigation toggle */
.navigation {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #201d1d;
    display: none;
    top: 100%;
}

#toggle-navigation:checked~.navigation {
    display: block;
}

#toggle-navigation {
    display: none;
}

.toggle-navigation-label {
    font-size: 2rem;
    padding-right: 20px;
}

/**************** Main Content ****************/
/* Hero Image */

.home-image {
    background-image: url('../images/hero-image.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100vh - 102px);
    padding: 20%;
}

.welcome-message {
    color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    background-color: rgba(218, 218, 194, 0.801);
    border-radius: 15px;
    margin-top: 200px;
}

/* Shop Page */
.shop-heading {
    font-size: 1rem;
    margin: 10px;
}
.shop-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 5px;
   
}

.grid-item {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    image-rendering: pixelated;
}

.grid-item:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Sign Up page */

#signup-4-yoga {
    height: calc(100vh - 102px);
    padding: 5px;
    border-radius: 0 50px;
    background-image: url('../images/signup-image.jpg');
    background-position: center;
    background-size: cover;
}

.sign-me-up {
    padding: 20px;
    font-size: 1rem;
    text-align: center;
}

.my-signup-form {
    background-color: rgba(178, 178, 185, 0.5);
    font-size: 1rem;
    color: #201d1d;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

.button {
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(187, 187, 147);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.button:hover {
    background-color: darkolivegreen;
}

.button:active {
    background-color: darkolivegreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Terms and Conditions */
#terms {
    height: 100px;
    width: 90%;
    padding: 0.5rem;
    margin: 1.5rem 0 0 15px;
    border: 1px solid grey;
    overflow: scroll;
    font-size: 0.5rem;
    background-color: #ffffff;
}

/* Yoga Appointment Bookings */
#operating-times {
    background-image: url('../images/bookings-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 102px);
    border-radius: 50px 0;
    
}

fieldset {
    margin: 0 10px;
    padding: 10px;
    width: 30%;
    padding-bottom: 10px;
}

.yoga-booking-session {
    font-size: 1rem;
    padding: 15px;
}

.yogi-details {
    background-color: rgba(121, 121, 129, 0.5);
}

table {
    border-collapse: collapse;
}

.yogapose-quote {
    width: 80%;
    background-color: rgba(121, 121, 129, 0.5);
    border-radius: 15px;
    color: #000000;
    padding: 1rem;    
    margin: 20px;
}

/********** Footer ***********/
footer {
    text-align: center;
    padding: 2px;
    background-color: rgb(187, 187, 147);
}

footer>span {
    color: black;
    font-size: 0.8rem;
}
/* Social Media Icons */
footer>a {
    text-decoration: none;
    padding: 0 15px;
}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    h1 {
        padding-right: 1rem;
        position: absolute;
        top: 20%;
        left: 15%;
    }

    .logo {
        width: 20%;
    }

    .slogan {
        display: flex;
        visibility: visible;
        position: absolute;
        top: 50%;
        left: 15%;
        font-size: 1rem;
    }
    /* Navigation toggle */
    .toggle-navigation-label {
        display: none;
    }

    .navigation {
        display: flex;
        background: none;
        box-shadow: none;
        top: 50%;
        left: 400px;
        width: 0;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        font-size: 1rem;
        letter-spacing: unset;
        align-items: center;
    }
    /* Hero image */

    .welcome-message {
        font-size: 1.2rem;
        color: rgb(29, 29, 27);
        margin-left: 30%;
    }
    /* Submit button style */
    .button {
        padding: 10px 20px;
        font-size: 15px;
        border-radius: 15px;
        box-shadow: 0 5px #999;
    }
    /* Signup page */
    #signup-4-yoga { 
        left: 0;
        font-size: 1.2rem;   
    }

    .sign-me-up {
        font-size: 1.2rem;
        margin: 0 30px;
    }

    #signup-4-yoga>input {
        width: 300px;
        height: 25px;
    }

    .input-area {
        width: 40%;
        height: 30px;
    }

    #terms {
        width: 70%;
    }
    /* Bookings page */
    .yogapose-quote {
        font-size: 1.5rem;
    }

    th {
        font-size: 1rem;
    }

    table {
        margin: 20px;
    }

    #operating-times {
        margin: 10px 5px 0 5px;
        padding: 10px;
        overflow: hidden;
    }

    .yoga-booking-session {
        font-size: 1.5rem;
    }

    /* Footer */
    footer>span {
        font-size: 1.2rem;
    }

    footer>a {
        font-size: 1.5rem;
    }
}

/* Large devices (laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Header */
    h1 {
        font-size: 1.5rem;
    }

    .logo {
        border-radius: 15px;
        margin: 10px;
        width: 20%;
    }

    .slogan {
        font-size: 1.2rem;
    }

    .navigation {
        left: 700px;
        justify-content: space-between;
    }

    .nav-bar {
        letter-spacing: 0;
        font-size: 1rem;
        padding-right: 20px;
    }
    
    /* Home page */
    .welcome-message {
        margin: auto;
        font-size: 1.5rem;
    }

    .home-image {
        width: 100%;
    }

    /* Signup for yoga */
    #signup-4-yoga {
        height: 100vh;
    }

    /* Shopping items */
    .grid-item {
        height: 50vh;
    }

    /* Yogi info section */
    #operating-times {
        height: 100vh;
    }
    .yogi-details {
        margin: 0 50px;
        padding: 20px;
    }
    .yogapose-quote {
        margin-left: 50px;
    }
    /* Submit button style */
    .button {
        padding: 15px 25px;
        font-size: 20px;
        font-weight: bold
    }
}

/* Larger devices (desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* Home page style */
    .navigation {
        left: 900px;
    }
    .welcome-message {
        font-size: 2rem;
    }
    .home-image {
        width: 100%;
    }

    /* Bookings page style */
    .yogi-details {
        margin: 0 50px;
        padding: 20px;
    }
    .yogapose-quote {
        margin-left: 50px;
    }
}